@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css'; 


*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
}

img{
    max-width: 100%;
}

